body{
    padding: 0;
    margin: 0;
}
.box{
    margin-top: 100px;
    margin-bottom: 300px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 5%;
    border-radius: 15px;
    background-color: rgb(233, 229, 176);
    text-align: center;
}
.box h1{
    margin-top: -40px;
}
#username{
    width: 300px;
    height: 35px;
    border-radius: 12px;
}
#password{
    width: 300px;
    height: 35px;
    border-radius: 12px;
}
#login-button{
    background-color: rgb(88, 255, 88);
    width: 80px;
    height: 23px;
    border-radius: 15px;
}